{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'user_list/css/user_list.css' %}">
<script src="{% static 'user_list/js/user_list.js' %}"></script>
{% endblock %}
{% block 'title' %}<title>NADIC | USER</title>{% endblock %}

{% block 'body' %}
<ul class="nav nav-tabs" style="margin-bottom: 24px;">
    <li class="nav-item">
        <a class="nav-link active"  href="{% url 'UserList' %}">Usuário</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'VehList' %}" style="color:#333333;">Veículo</a>
    </li>
</ul>

<div>
    <div class="quadro" style="float:right;">
        <a href="{% url 'UserAdd' %}" class="btn btn-secondary">Cadastrar</a>
    </div>
    <h5>Usuário</h5>
</div>

<div class="container container-table">
    <div class="row" style="width: 900px; height: 400px; margin: 0px;">
        <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
            <div class="table-responsive table-scroll">
                <table id="bootstrapdatatable" class="table table-striped">
                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Matrícula</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.cpf }}</td>
                            <td>{{ user.enrollment }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone }}</td>
                            <td>
                                <div class="container" style="padding: 0px;">
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="{% url 'UserEdit' user.id %}">
                                                <img src="{% static 'user_list/img/EditSVG.svg' %}" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            <a href="{% url 'UserRemove' user.id %}"
                                                onclick="return confirm('Tem certeza que deseja excluir esse usuário?')">
                                                <img src="{% static 'user_list/img/TrashSVG.svg' %}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}