{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'crudUser/css/styleUser.css' %}">
{% endblock %}
{% block 'title' %}
<title>NADIC | USER_ADD</title>
{% endblock %}

{% block 'body' %}
<ul class="nav nav-tabs" style="margin-bottom: 24px;">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'UserList' %}">Usuário</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'VehList' %}" style="color:#333333;">Automóvel</a>
    </li>
</ul>

<h5>Cadastrar Usuário</h5>
<hr>
<form action="{% url 'UserAdd' %}" method="POST">
    {% csrf_token %}

    <div class="container">
        <div class="row form-group">
            <div class="col col-sm-4">
                <label for="id_username">USUÁRIO:</label>
                {{ form.username }}
            </div>
            <div class="col col-sm-4">
                <label for="id_cpf">CPF:</label>
                {{ form.cpf }}
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-sm-4">
                <label for="id_enrollment">MATRÍCULA:</label>
                {{ form.enrollment }}
            </div>
            <div class="col col-sm-4">
                <label for="id_email">EMAIL:</label>
                {{ form.email }}
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-sm-4">
                <label for="id_phone">TELEFONE:</label>
                {{ form.phone }}
            </div>
        </div>

        {% if messages %}
        {% for message in messages %}
        <div class="alert {{message.tags}}">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}

        <button type="submit" class="btn btn-secondary btn-lg">SALVAR</button>
        <button type="reset" class="btn btn-secondary btn-lg">LIMPAR</button>
        <a href="{% url 'UserList' %}" class="btn btn-secondary btn-lg">VOLTAR</a>
</form>

{% endblock %}