{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'user_edit/css/user_edit.css' %}">
<script src="{% static 'user_edit/js/user_edit.js' %}"></script>
{% endblock %}
{% block 'title' %}
<title>NADIC | USER_EDIT</title>
{% endblock %}

{% block 'body' %}
<div class="card">
    <div class="card-body">
        <h5>Editar usuário</h5>
        <hr>
        <form action="{% url 'UserEdit' user_obj.id %}" method="POST" style="padding-bottom: 0px;">
            {% csrf_token %}

            <div class="container">
                <div class="row form-group">
                    <div class="col-12 col-lg-4" style="margin-right: 50px;">
                        <label for="id_username" class="labels">USUÁRIO:</label>
                        {{ form.username}}
                    </div>
                    <div class="col-12 col-lg-4">
                        <label for="id_cpf" class="labels">CPF:</label>
                        {{ form.cpf}}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12 col-lg-4" style="margin-right: 50px;">
                        <label for="id_enrollment" class="labels">MATRÍCULA:</label>
                        {{ form.enrollment}}
                    </div>
                    <div class="col-12 col-lg-4">
                        <label for="id_email" class="labels">EMAIL:</label>
                        {{ form.email}}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12 col-lg-4">
                        <label for="id_phone" class="labels">TELEFONE:</label>
                        {{ form.phone}}
                    </div>
                </div>

                {% if messages %}
                {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}

                <button type="submit" class="btn btn-secondary">SALVAR</button>
                <a href="{% url 'UserList' %}" class="btn btn-secondary">CANCELAR</a>
        </form>
    </div>
</div>
{% endblock %}