{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'veh_edit/css/veh_edit.css' %}">
{% endblock %}

{% block 'title' %}
<title>NADIC | VEHICLE_EDIT</title>
{% endblock %}

{% block 'body' %}
<div class="card">
    <div class="card-body">
        <h4>Editar veículo</h4>
        <hr>
        <form action="{% url 'VehEdit' veh_obj.id %}" method="POST" style="padding-bottom: 0px;">
            {% csrf_token %}
            
            <div class="container">
                <div class="row form-group">
                    <div class="col col-xl-6 col-8">
                        <label for="id_username" class="labels">MARCA:</label>
                        {{ form.brand }}
                    </div>
                    <div class="col col-xl-6 col-8">
                        <label for="id_cpf" class="labels">MODELO:</label>
                        {{ form.model }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-xl-6 col-8">
                        <label for="id_enrollment" class="labels">PLACA:</label>
                        {{ form.plate }}
                    </div>
                    <div class="col col-xl-6 col-8">
                        <label for="id_email" class="labels">COR:</label>
                        {{ form.color }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-xl-6 col-8">
                        <label for="id_phone" class="labels">DONO:</label>
                        {{ form.user }}
                    </div>
                </div>

            {% if messages %}
            {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}

            <button type="submit" class="btn btn-secondary">SALVAR</button>
            <a href="{% url 'VehList' %}" class="btn btn-secondary">CANCELAR</a>
        </form>
    </div>
</div>
{% endblock %}