{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'veh_list/css/veh_list.css' %}">
<script src="{% static 'veh_list/js/veh_list.js' %}"></script>
{% endblock %}
{% block 'title' %}<title>NADIC | VEHICLE</title>{% endblock %}

{% block 'body' %}
<ul class="nav nav-tabs" style="margin-bottom: 24px;">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'UserList' %}">Usuário</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'VehList' %}" style="color:#333333;">Veículo</a>
    </li>
</ul>

<div>
    <div class="quadro" style="float:right;">
        <a href="{% url 'VehAdd' %}" class="btn btn-secondary">Cadastrar</a>
    </div>
    <h5>Veículo</h5>
</div>

<div class="container container-table">
    <div class="row" style="width: 900px; height: 400px;margin: 0px;">
        <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
            <div class="table-responsive table-scroll">
                <table id="bootstrapdatatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Placa</th>
                            <th>Cor</th>
                            <th>Proprietário</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for veh in vehs %}
                        <tr>
                            <td>{{ veh.id }}</td>
                            <td>{{ veh.brand }}</td>
                            <td>{{ veh.model }}</td>
                            <td>{{ veh.plate }}</td>
                            <td>{{ veh.color }}</td>
                            <td>{{ veh.user }}</td>
                            <td>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <a href="{% url 'VehEdit' veh.id %}">
                                                <img src="{% static 'veh_list/img/EditSVG.svg' %}" alt="">
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a href="{% url 'VehRemove' veh.id %}"
                                                onclick="return confirm('Tem certeza que deseja excluir esse veículo?')">
                                                <img src="{% static 'veh_list/img/TrashSVG.svg' %}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}